@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@300&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

*, *:after, *:before {
  position: relative;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-family: 'Noto Sans TC', sans-serif, "微軟正黑體";
  font-size: 16px;
  width: 100%;
}

a {
  text-decoration: none;
}

.mb-lg {
  margin-bottom: 72px !important;
}

.list__title {
  font-size: 32px;
  line-height: 43px;
  font-weight: bold;
  padding-bottom: 8px;
  margin-bottom: 16px;
  border-bottom: 1px solid #000;
}

.list__title span {
  color: #A00404;
  font-size: 24px;
  top: -4px;
  font-weight: bold;
  padding-left: 16px;
}

.list__item {
  font-size: 24px;
  line-height: 36px;
  margin-bottom: 24px;
}

.container {
  max-width: 1200px;
  margin: auto;
}

.header {
  padding-top: 30px;
}

.header__title {
  padding: 17px 0;
  font-size: 80px;
  line-height: 94px;
  font-weight: bold;
  border-bottom: 2px solid #000;
}

.header img {
  padding: 48px 0;
}

.p-skills {
  padding: 24px 0 36px;
  background-color: #415165;
}

.p-skills .list {
  max-width: 996px;
  margin: auto;
  text-align: center;
}

.p-skills .list .list__title {
  text-align: center;
  line-height: 45px;
  margin-bottom: 40px;
  color: #fff;
  border-color: #fff;
}

.p-skills .list .list__title span {
  color: #fff;
}

.p-skills .list ul {
  padding-left: 24px;
  border-left: 1px solid #96A9C4;
  display: inline-block;
}

.p-skills .list ul li.list__item {
  color: #fff;
  margin-bottom: 20px;
}

.p-skills .list ul li.list__item:last-of-type {
  color: #fff;
  margin-bottom: 0;
}

.p-work .list ul {
  border-left: 1px solid #96A9C4;
  padding-left: 24px;
  margin-left: 24px;
}

.p-work .list ul li.list__item h3 {
  font-size: 24px;
  line-height: 36px;
}

.p-work .list ul li.list__item p {
  font-size: 20px;
  line-height: 30px;
}

.p-work .list ul li.list__item img {
  padding: 8px 0;
}

.footer {
  background-color: #415165;
  padding-top: 24px;
  padding-bottom: 20px;
}

.footer .list .list__title {
  text-align: center;
  color: #fff;
  line-height: 43px;
  margin-bottom: 32px;
  border-color: #fff;
}

.footer .list .list__title span {
  color: #fff;
}

.footer .list ul li.list__item {
  text-align: center;
  margin-bottom: 16px;
  color: #fff;
}

.footer .list ul li.list__item:last-of-type {
  margin-bottom: 0;
}

.footer .list ul li.list__item a {
  color: #fff;
  margin-right: 24px;
  border-bottom: 2px solid transparent;
}

.footer .list ul li.list__item a:hover {
  border-bottom: 2px solid #fff;
  -webkit-transition: 1s;
  transition: 1s;
}
/*# sourceMappingURL=style.css.map */